{% extends "base.html" %}

{% block content %}

<div class="container mx-auto py-8">
    <!-- Topic -->
    <div class="text-center">
        <div class="text-5xl font-bold">
            Tired of crappy PDF tools?
        </div>
        <div class="text-lg pt-7">
            A completely offline set of easy-to-use PDF manipulation tools to easily merge, split, <br>
            compress, convert, rotate, unlock and watermark PDFs with just a few clicks.
        </div>
    </div>

    <!-- Grid -->
    <div class="flex flex-wrap gap-3 mt-12">

        <div>
            <div class="card bg-base-100 max-h-64 min-h-64 w-64 shadow-lg hover:cursor-pointer"
                onclick="window.location.href = '/merge_pdf'">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='images/merge_pdf.svg') }}" alt="MergePDF" class="w-16">
                    <h2 class="card-title">Merge PDF</h2>
                    <p>Combine PDFs in the order you want with the easiest PDF merger available.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="card bg-base-100 max-h-64 min-h-64 w-64 shadow-lg hover:cursor-pointer"
                onclick="window.location.href = '/split_pdf'">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='images/split_pdf.svg') }}" alt="MergePDF" class="w-16">
                    <h2 class="card-title">Split PDF</h2>
                    <p>Separate one page or a whole set for easy conversion into independent PDF files.</p>
                </div>
            </div>
        </div>

        <div>
            <div class="card bg-base-100 max-h-64 min-h-64 w-64 shadow-lg hover:cursor-pointer"
                onclick="window.location.href = '/compress_pdf'">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='images/compress_pdf.svg') }}" alt="MergePDF" class="w-16">
                    <h2 class="card-title">Compress PDF</h2>
                    <p>Reduce file size while optimizing for maximal PDF quality.</p>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}